@page
@model DemoProject.Pages.Index
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post">
    <ol>
        <li>
            <label asp-for="NewPerson.Name"></label>
            <input asp-for="NewPerson.Name">
            <span asp-validation-for="NewPerson.Name"></span>
        </li>
        <li>
            <label asp-for="NewPerson.Age"></label>
            <input asp-for="NewPerson.Age">
            <span asp-validation-for="NewPerson.Age"></span>
        </li>
        <li>
            <button>Voeg toe</button>
        </li>
    </ol>
</form>

@if (DemoProject.Pages.Index.Persons == null || DemoProject.Pages.Index.Persons.Count == 0)
{
    <p>Nog geen personen.</p>
}
else
{
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Leeftijd</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var person in DemoProject.Pages.Index.Persons)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.Name</td>
                <td>@person.Age</td>
            </tr>
        }
        </tbody>
    </table>
}