@page
@model DemoProject.Pages.Index

@section scripts {
    <script src="formuliervalidaties.js"></script>
}

<form method="post">
    <ol>
        <li>
            <label asp-for="NewPerson.Name"></label>
            <input asp-for="NewPerson.Name">
            <span asp-validation-for="NewPerson.Name"></span>
        </li>
        <li>
            <label asp-for="NewPerson.Age"></label>
            <input asp-for="NewPerson.Age">
            <span asp-validation-for="NewPerson.Age"></span>
        </li>
        <li>
            <label asp-for="NewPerson.Age"></label>
            <select>
                <option value="4">Brandweerman</option>
                <option value="8">CEO</option>
                <option value="146">Software developer</option>
            </select>
            <span asp-validation-for="NewPerson.Age"></span>
        </li>
        <li>
            <button>Voeg toe</button>
        </li>
    </ol>
</form>

nu met partial:

@* View Components voor meer complexe logica-zaken *@
<partial name="_Spinner" model="Model.Message1" />
<partial name="_Spinner" model="Model.Message2" />

@if (Model.Persons == null || !Model.Persons.Any())
{
    <p>Nog geen personen.</p>
}
else
{
    <form method="post">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Naam</th>
                <th>Leeftijd</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var person in Model.Persons)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.Name</td>
                    <td>@person.Age</td>
                    <td>
                        <input type="checkbox" name="selectedPersons" value="@person.Id">
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <button>Submit</button>
    </form>
}