<!DOCTYPE html>

<html>
<head>
    <title>Beste webapp aller tijden</title>
    <link rel="stylesheet" href="spinner.css">
    @RenderSection("scripts", false)
</head>
<body>

<header>
    Logo met slogan
</header>
<nav>
    <ol>
        <li>
            <a href="/">Persons</a>
        </li>
        <li>
            <a href="tweede">Tweede</a>
        </li>
    </ol>
</nav>

@RenderBody()

<footer>&copy; JP ten Berge 2022 | Privacygeneuzel | Disclaimer</footer>

</body>
</html>